@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap');

/* configurações gerais do html e elementos */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Poppins','Segoe UI';
    scroll-behavior: smooth;
    background-color: black;

}

a {
    text-decoration: none;

}

p {
    font-size: 1.4rem;
    font-weight: 200;
    overflow:hidden;

}

.box {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*seção de apresentação*/

#apresentacao {
    background-image: url(apresentacao_fundo2.jpg);
    background-size:cover;
    background-position: top center;
    position: relative;
    z-index: 1; /*traz o conteudo para frente até para os botões ficarem acessiveis*/

}

#apresentacao h1{
    display:block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: transparent; /*white - trocado depois do keyframe*/ 
    animation: texto_revelado .5s ease forwards;
    animation-delay: 1.5s;


}

#apresentacao h1:nth-child(1){
    animation-delay: .8s;
}

#apresentacao h1:nth-child(2){
    animation-delay: 1.8s;
}

#apresentacao h1:nth-child(3){
    animation: texto_revelado_nome .5s ease forwards;
    animation-delay: 2.8s;
}

#apresentacao .botao{
    display:inline-block;
    padding: 10px 20px;
    color: cyan;
    background-color: rgb(0,0,0,0.2);
    border: 2px solid cyan;
    border-radius: 85px;
    font-size: 2rem;
    text-transform: uppercase; /*tudo maiúsculo*/
    letter-spacing: .1rem; /*distancia entre as letras*/
    margin-top: 20px;
}

#apresentacao .botao:hover{
    color: black;
    font-weight: 600;
    background-color:gold;
    border: 2px solid black;
    transition: .5s ease;
    transition-property: background-color, color;

}

#apresentacao h1 span{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width: 0%;
    animation: texto_revelado_box 1s ease;
    animation-delay: .5s;
    background-color: cyan;

}   

#apresentacao h1:nth-child(1) span{
    animation-delay: .5s;
}

#apresentacao h1:nth-child(2) span{
    animation-delay: 1.5s;
}

#apresentacao h1:nth-child(3) span{
    animation-delay: 2.5s;
}

#apresentacao ::after{  /*coloca uma camada sobre a tela. para efeito de filtro sobre a imagem de fundo*/
    content: ''; /*equivalente a vazio...*/
    position:absolute;
    top: 0;
    left:0;
    width: 100%;
    height:100%;
    background-color: black;
    opacity: 0.3;
    z-index: -1; /*equivalente a posição da camada */
}

/*keyframes - utilizado para criar as animações da apresentação*/
@keyframes texto_revelado_box {
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
    
}

@keyframes texto_revelado {
    100%{
        color: white
    }
}

@keyframes texto_revelado_nome {
    100%{
        color: cyan
    }
}

/*seção de portifolio*/

#portifolio .portifolio{
    max-width: 1280px;
    flex-direction:column;
    margin: 0 auto;
    padding: 50px 0;
} 

#portifolio .portifolio-titulo{

    color: white;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 20px;

}

#portifolio .portifolio-geral{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#portifolio .portifolio-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: auto;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    border: 2px double rgba(245, 245, 245, 0.185);

}

#portifolio .portifolio-info{
    padding: 20px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-content: flex-start;
    justify-content:flex-start;
    flex-direction: column;
    background-image: linear-gradient(to left, #00ffff -73%, #000000 100%);
    color: white

}

#portifolio .portifolio-info h1{
    font-size: 2.5rem;
    font-weight: 500;
    transition: 0.8s ease-in-out ;
}

#portifolio .portifolio-info h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 10px;
}

#portifolio .portifolio-imagem{
    flex-basis: 50%;
    position: relative;
    overflow: hidden;

}

#portifolio .portifolio-imagem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.8s ease transform;
    
}


#portifolio .portifolio-item:hover .portifolio-imagem img{
    transform: scale(1.3);

}


#portifolio .portifolio-item:hover .portifolio-info h1{
        color: cyan;
        text-decoration: overline;
  
}

#portifolio .portifolio-item a{
    color: white;
}


/*media querys*/
@media only screen and (min-width:768px) {
    #portifolio .portifolio-item {
        flex-direction: row;
        height: 300px;
        width: 90%;

    }

    #portifolio .portifolio-item:nth-child(even) {
        flex-direction: row-reverse ;
    }

    #portifolio .portifolio-info {
        height: 100%;
    }

    #portifolio .portifolio-imagem {
        height: 100%;
    }

}

/* pagina dashboards, bi's e relatórios */

#dashboard {
    max-width: 1920px;
    margin: 0px auto;


}

#dashboard-titulo {
    color: white;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;

}

.dashboard-galeria {
    /*border: 1px dashed white;*/
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    justify-content:center;
    overflow: hidden;
    margin: 20px auto;
    padding: 10px 10px;
    
}

    .dashboard-fotos {
    border-radius: 8px;
    width: 150px;
    margin: 0 5px;
    overflow: hidden;
    object-fit: cover;
    transition: 0.8s ease transform;

}

.dashboard-galeria img:hover {   
    transform: scale(1.1);
    cursor: pointer;
    opacity: 0.6;

}

.dashboard-exibicao {
    display: flex;
    width: 90%;
    height: auto;
    justify-content:center;
    margin: 0 auto;
}

.dashboard-exibicao img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    image-rendering: optimizeQuality;
    



}